[Desktop Entry]
Type=Application
Name=CryoSPARC Web App
Comment=Open the CryoSPARC web interface in Firefox
Exec=/usr/bin/firefox http://localhost:__BASE_PORT__
Icon=firefox
Terminal=false
Categories=Science;Education;
